{% load i18n %}

<!-- Header -->
<header class="header">
    <!-- Header Top -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Header Top Left -->
                <div class="col-lg-5">
                    <div class="header-left">
                        <a href="{{ header.phone_link }}">{{ header.phone }}</a>
                        <span>/</span>
                        <a href="{{ header.email_link }}">{{ header.email }}</a>
                    </div>
                </div>
                <!-- Header Top Right -->
                <div class="col-lg-7">
                    <div class="header-right text-right">
                        <div class="social-icon">
                            {% for i in social_networks %}
                                <span>
                                    <a href="{{ i.link }}">
                                        <i class="{{ i.i_class }}"></i>
                                    </a>
                                </span>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Bottom -->
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-2 col-sm-4 col-5 align-self-center">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ header.logo.url }}" alt="{{ header.logo_alt }}" style="width: 3rem;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-8 col-7 align-self-center">
                    <!-- Menu -->
                    <div class="menu">
                        <nav>
                            <ul>
                                {% for one_navbar in one_navbars %}
                                    <li class="{% if one_navbar.is_submenu or one_navbar.two_navbars.exists %}menu-item-has-children{% endif %}">
                                        {% if one_navbar.is_submenu or one_navbar.two_navbars.exists %}
                                            <a>{{ one_navbar.title }}</a>
                                        {% else %}
                                            {% if one_navbar.nav_type.type == "page" %}
                                                <a href="{% url 'page_detail' slug=one_navbar.link %}">{{ one_navbar.title }}</a>
                                            {% elif one_navbar.nav_type.type == "url" %}
                                                <a href="{% url '{{ one_navbar.link }}' %}">{{ one_navbar.title }}</a>
                                            {% elif one_navbar.nav_type.type == "news" %}
                                                <a href="{% url 'news_detail' pk=one_navbar.link %}">{{ one_navbar.title }}</a>
                                            {% elif one_navbar.nav_type.type == "link" %}
                                                <a href="{{ one_navbar.link }}">{{ one_navbar.title }}</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if one_navbar.two_navbars.exists %}
                                            <ul>
                                                {% for two_navbar in one_navbar.two_navbars.all %}
                                                    <li class="{% if two_navbar.is_submenu or two_navbar.three_navbars.exists %}menu-item-has-children{% endif %}">
                                                        {% if two_navbar.is_submenu or two_navbar.three_navbars.exists %}
                                                            <a>{{ two_navbar.title }}</a>
                                                        {% else %}
                                                            {% if two_navbar.nav_type.type == "page" %}
                                                                <a href="{% url 'page_detail' slug=two_navbar.link %}">{{ two_navbar.title }}</a>
                                                            {% elif two_navbar.nav_type.type == "url" %}
                                                                <a href="{% url '{{ two_navbar.link }}' %}">{{ two_navbar.title }}</a>
                                                            {% elif two_navbar.nav_type.type == "news" %}
                                                                <a href="{% url 'news_detail' pk=two_navbar.link %}">{{ two_navbar.title }}</a>
                                                            {% elif two_navbar.nav_type.type == "link" %}
                                                                <a href="{{ two_navbar.link }}">{{ two_navbar.title }}</a>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if two_navbar.three_navbars.exists %}
                                                            <ul>
                                                                {% for three_navbar in two_navbar.three_navbars.all %}
                                                                    <li class="{% if three_navbar.is_submenu %}menu-item-has-children{% endif %}">
                                                                        {% if three_navbar.is_submenu %}
                                                                            <a>{{ three_navbar.title }}</a>
                                                                        {% else %}
                                                                            {% if three_navbar.nav_type.type == "page" %}
                                                                                <a href="{% url 'page_detail' slug=three_navbar.link %}">{{ three_navbar.title }}</a>
                                                                            {% elif three_navbar.nav_type.type == "url" %}
                                                                                <a href="{% url '{{ three_navbar.link }}' %}">{{ three_navbar.title }}</a>
                                                                            {% elif three_navbar.nav_type.type == "news" %}
                                                                                <a href="{% url 'news_detail' pk=three_navbar.link %}">{{ three_navbar.title }}</a>
                                                                            {% elif three_navbar.nav_type.type == "link" %}
                                                                                <a href="{{ three_navbar.link }}">{{ three_navbar.title }}</a>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Right -->
                    <div class="header-bottom-right">
                        <!-- Header Search -->
                        <div class="header-search">
                            <div class="header-search-icon" title="{{ header.search_placeholder }}"></div>
                            <div class="header-top-search-form">
                                <div class="header-top-search-form-full">
                                    <form method="GET" action="{% url 'news_search' %}">
                                        <input type="search" name="q" placeholder="{{ header.search_placeholder }}" value="{{ query }}">
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Header Language -->
                        <div class="header-language mobile-padding-0">
                            {% get_current_language as CURRENT_LANGUAGE %}
                                {% get_language_info for CURRENT_LANGUAGE as lang %}
                                {% get_available_languages as AVAILABLE_LANGUAGES %}
                                {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

                            <div class="header-language-option">
                                <span class="active">{{ lang.name_local|capfirst }}</span>
                                <span><i class="fa-solid fa-chevron-down"></i></span>
                            </div>
                            <div class="header-language-dropdown">
                                <ul>
                                    {% for language in languages %}
                                            {% if language.code != CURRENT_LANGUAGE %}
                                                <li>
                                                    <a href="/{{ language.code }}/">

                                                        <span class="menu-item">{{ language.name_local|capfirst }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Make Appointment Button -->
                        <div class="make-appointment-button">
                            <a href="{{ header.right_button_link }}" class="button-2" target="_blank">{{ header.right_button_title }} <i
                                    class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                    <!-- Menu OPen -->
                    <div class="canvas_open_full">
                        <div class="canvas_open">
                            <a href="javascript:void(0)">
                                <i class="bi bi-list"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->

<!-- Mobile Menu -->
<div class="mobile-menu-area">
    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <div class="offcanvas_menu">
        <div class="offcanvas_menu_wrapper">
            <div class="canvas_close">
                <a href="javascript:void(0)"><i class="bi bi-x-lg"></i></a>
            </div>
            <div class="mobile-logo">
                <a href="/">
                    <img src="{{ header.logo.url }}" alt="{{ header.logo_alt }}" style="width: 3rem;">
                </a>
            </div>
            <div id="menu" class="text-left">
                <ul class="offcanvas_main_menu">
                    {% for one_navbar in one_navbars %}
                        <li class="{% if one_navbar.is_submenu or one_navbar.two_navbars.exists %}menu-item-has-children{% endif %}">
                            {% if one_navbar.is_submenu or one_navbar.two_navbars.exists %}
                                <a href="javascript:void(0)">{{ one_navbar.title }}</a>
                            {% else %}
                                {% if one_navbar.nav_type.type == "page" %}
                                    <a href="#page_detail">{{ one_navbar.title }}</a>
                                {% elif one_navbar.nav_type.type == "url" %}
                                    <a href="#sayt_url">{{ one_navbar.title }}</a>
                                {% elif one_navbar.nav_type.type == "news" %}
                                    <a href="#news_detail">{{ one_navbar.title }}</a>
                                {% elif one_navbar.nav_type.type == "link" %}
                                    <a href="{{ one_navbar.link }}">{{ one_navbar.title }}</a>
                                {% endif %}
                            {% endif %}
                            {% if one_navbar.two_navbars.exists %}
                                <ul class="sub-menu">
                                    {% for two_navbar in one_navbar.two_navbars.all %}
                                        <li class="{% if two_navbar.is_submenu or two_navbar.three_navbars.exists %}menu-item-has-children{% endif %}">
                                            {% if two_navbar.is_submenu or two_navbar.three_navbars.exists %}
                                                <a href="javascript:void(0)">{{ two_navbar.title }}</a>
                                            {% else %}
                                                {% if two_navbar.nav_type.type == "page" %}
                                                    <a href="#page_detail">{{ two_navbar.title }}</a>
                                                {% elif two_navbar.nav_type.type == "url" %}
                                                    <a href="#sayt_url">{{ two_navbar.title }}</a>
                                                {% elif two_navbar.nav_type.type == "news" %}
                                                    <a href="#news_detail">{{ two_navbar.title }}</a>
                                                {% elif two_navbar.nav_type.type == "link" %}
                                                    <a href="{{ two_navbar.link }}">{{ two_navbar.title }}</a>
                                                {% endif %}
                                            {% endif %}
                                            {% if two_navbar.three_navbars.exists %}
                                                <ul class="sub-menu">
                                                    {% for three_navbar in two_navbar.three_navbars.all %}
                                                        <li class="{% if three_navbar.is_submenu %}menu-item-has-children{% endif %}">
                                                            {% if three_navbar.is_submenu %}
                                                                <a href="javascript:void(0)">{{ three_navbar.title }}</a>
                                                            {% else %}
                                                                {% if three_navbar.nav_type.type == "page" %}
                                                                    <a href="#page_detail">{{ three_navbar.title }}</a>
                                                                {% elif three_navbar.nav_type.type == "url" %}
                                                                    <a href="#sayt_url">{{ three_navbar.title }}</a>
                                                                {% elif three_navbar.nav_type.type == "news" %}
                                                                    <a href="#news_detail">{{ three_navbar.title }}</a>
                                                                {% elif three_navbar.nav_type.type == "link" %}
                                                                    <a href="{{ three_navbar.link }}">{{ three_navbar.title }}</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu -->
